.project-card {
  /* border: solid rgb(206, 202, 202); */
  background-color: rgb(245, 245, 245);
  margin: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
